# 1. Setup
[phases.setup]
nixPkgs = ['nodejs_20', 'pnpm', 'vips', 'python3', 'gcc', 'gnumake']

# 2. Install - ZMIANA TUTAJ
# Usuwamy pnpm-lock.yaml przed instalacją, aby wymusić pobranie wersji Linuxowych
[phases.install]
cmds = ['rm -f pnpm-lock.yaml', 'pnpm install --shamefully-hoist']

# 3. Build
[phases.build]
cmds = ['pnpm run build']

# 4. Start
[start]
cmd = 'node .output/server/index.mjs'