# 1. Setup
[phases.setup]
nixPkgs = ['nodejs_20', 'pnpm', 'vips', 'python3', 'gcc', 'gnumake']

[phases.install]
cmds = [
    'echo "node-linker=hoisted" > .npmrc',
    'rm -rf node_modules pnpm-lock.yaml',
    'pnpm install'
]

# 3. Build
[phases.build]
cmds = ['pnpm run build']

# 4. Start
[start]
cmd = 'node .output/server/index.mjs'